
.form{
    border: 1px solid;
    background-color:  #fff;
    margin: 50px 50px 50px 50px;
    border-radius: 5px;
    -transform: translate(50%,-50%);
    background: rgba(0,0,0,0.4);
}


.middle-con{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
   color:white;
   font-weight: bold;
}
.button-dec{
    margin:10px 20px;
    font-family: 'Ramabhadra', sans-serif;
    
}
.descrption{
    border: 1px solid #fff;
    
    background: rgb(238, 226, 201);
    border-radius: 5px;
    -transform: translate(50%,-50%);
    
    color: rgb(0, 0, 0);
    width: 400px;
    margin: auto;

}
h2{
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    
   
}
h3{
    text-align: center;
    padding-bottom: 40px;
    font-weight: bold;
    color: #fff;
    font-family: 'Poiret One', cursive;
}
h4{
    font-family: 'Poiret One', cursive;
}
label{
    color:  #fff;
    
    font-family: 'Ramabhadra', sans-serif;
}
li{
    padding-top: 10px;
    font-family: 'Cormorant', serif;
    font-size: 1.2rem;
}
p{
    font-family: 'Cormorant', serif;
    font-size: 1.2rem;
}
footer{
    background-color: rgb(5, 1, 1);
    margin: 20px;
    padding: 40px;
    text-align: center;
    font-family: 'Ramabhadra', sans-serif;
}
.container-centre{
    padding-top: 60px;
    color: white;
    
   
}
.names{
    border: 1px solid #fff;
   
    border-radius: 5px;
    -transform: translate(50%,-50%);
    background: rgb(238, 226, 201);
    color: rgb(0, 0, 0);
    width: 400px;
    margin: auto;
}
span{
    color: #FF7300;
}
